{% extends 'index.html' %}

{% block masterHead %}
<section class="page-section bg-primary text-white text-center">
    <div>
        <h1 class="page-section text-uppercase mb-0">MANEJO DE USUARIOS</h1>
    </div> 
            <!-- Top navigation-->
    <div class="navbar navbar-expand-lg bg-white">
            <div class="container d-flex justify-content-center mb-3">
                <form action={%url 'crearUsuario'%} class="text-black">
                    <h2 class="page-section bg-white text-primary text-uppercase p-3 mt-3 mb-3">Creación de usuarios</h2>
                    <div class="mb-3 mt-3">
                      <label for="nombre" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3 text-black">
                        <label for="nombreUsuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="nombreUsuario">
                      </div>
                    <div class="mb-3 text-black">
                      <label for="contraseñaUsuario" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="contraseñaUsuario">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
    </nav>
</section>   
{% endblock masterHead %}

{% block aboutSection %}
{% endblock aboutSection %}